# Fichier généré
*.o
*.out
*.log
*.stats
*.dat
*.yy.c
yygrammar.*
*.class

# Fichier compilé
R/tp2/tp2_files/*
LT/tp1/exemple/exemple
LT/tp1/conflits/conflits
LT/tp1/lexic/lexic
LT/tp2/exp/exp
LT/tp2/expBis/expBis
LT/tp3/exAtt/exAtt
LT/tp3/exAttDef1/exAtt
LT/tp3/exAttDef2/exAtt
LT/tp3/exAttFinal1/exAtt
LT/tp3/exAttFinal2/exAtt
LT/tp4/exAttToken/exAttToken
LT/tp4/sommesSuites/sommes
LT/tp4/listeCC/listeCC
LT/tp4/listeBis/listeBis
SD/projet/programme/programme

# IDE
.vscode/
.idea/
*.iml

# Compilateur Accent
LT/Compil/*